# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/
.pytest_tmp/
SEOS.pytest_tmp/

# SQLite
*.db
*.sqlite
*.sqlite3

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
